/* #2196F3 */
/* #212121 */
/* #757575 */
/* #FFFFFF */
/* rgba(255, 255, 255, 0.6); */
/* #000000 */
/* #F5F4FA */

:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ----------------HEADER------------------- */
/* .header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between; */
}
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-text {
  color: #2196f3;
}

.logo-second-text {
  color: #000000;
}
.nav-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
}

.nav-item-link:hover,
.nav-item-link:focus {
  color: var(--accent-color);
}

.nav-item-link.current {
  color: #2196f3;
}

.header-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--accent-color);
}
/* -------------------MAIN SECTION--------------------- */

.hero-theme {
  text-align: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);

  /* width: 696px; */
}

.btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* display: flex; */
  align-items: center;
  /* text-align: center; */
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 32px;
  border-radius: 4px;
  /* border: 1px solid #2196f3; */
}
.add-margin {
  margin-bottom: 94px;
}
.reason-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}

.reason-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-title,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-member-expert {
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 30px;
}

/* -----------PORTFOLIO LIST---------- */
.portfolio-nav-list {
  margin-top: 94px;
  margin-bottom: 34px;
}

.btn-porfolio {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;

  border-radius: 4px;
  /* border: 1px solid #f5f4fa; */
  padding: 6px 22px;
}

.btn-porfolio:hover,
.btn-porfolio:focus {
  color: var(--main-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-work-list {
  margin-bottom: 94px;
}
.portfolio-work-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  margin-top: 20px;
  margin-bottom: 4px;
}
.portfolio-work-unit {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* -------------FOOTER------------------ */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer-text {
  color: #ffffff;
}
.contact-list {
  margin-top: 20px;
}
.contact-item {
  margin-bottom: 9px;
}
.contact-item:last-child {
  margin-bottom: 0;
}

.contact-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contact-address-link:hover,
.contact-address-link:focus {
  color: var(--accent-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
